body {
	margin: 0;
}

.mainColumn > * {
	width: 60%;
	margin: auto;
	font-family: 'Exo 2', sans-serif;
}
#mainLogo {
	width: 100px;
	margin-left: -50px;
	margin-bottom: -40px;
}
h1 {
	padding: .5em 0;
}
p {
	padding: .5em 0;
	line-height: 1.75em;
}

.header {
	padding: .5em 20%;
	background-color: black;
	background: url('img/clouds-256.png');
	background-attachment: fixed;
	color: white;
	margin: 1em 0 0;
	font-weight: 300;
	font-size: 42px;
}

.quote {
	padding: 1.5em 20%;
	line-height: 1.5em;
	background: url('img/clouds-512.png');
	background-attachment: fixed;
	font-style: italic;
	margin-bottom: 2em;
}
.quote-indent {
	margin-left: 50px;
}
.attribution {
	margin: .5em 0 .5em 15em;
	font-style: normal;
}

#quoteSunlight {
	background: url(img/Faded-sunset.png) -50% top no-repeat fixed #0c0906;
}
#backgroundTest {
	/*display: none;*/
	/*position: absolute;
	width: 100%;
	height: 100%;
	background: url(img/vertical-pixel-stripe.png), url(img/sun.png) center top no-repeat, linear-gradient(to bottom, #cb6735 0%,#fd903b 20%,#fec84a 36%,#fec84a 59%,#fd903b 64%,#cb6735 68%,#a5663b 72%,#270e0a 81%,#0e0906 85%,#0c0d08 100%);*/ /* W3C */
	/* Sunset gradient: http://www.colorzilla.com/gradient-editor/#cb6735+0,fd903b+20,fec84a+36,fec84a+59,fd903b+64,cb6735+68,a5663b+72,270e0a+81,0e0906+85,0c0d08+100;Custom */
}

#groupSelect {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 32px;
	width: 50%;
}
#groupSelect > select {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 32px;
	background-color: #CFECF8;
	border: 3px solid #B2DBED;
	border-radius: 5px;
}
#groupSelect > select:hover {
	background-color: #DBF5FF;
}

.group {
	background-color: #CFECF8;
	border: 2px solid #B2DBED;
	border-radius: 5px;
	display: inline-block;
	line-height: 1.35em;
}