@media (min-width: 1000px) {
	.mainColumn > * {
		width: 50%;
		margin: auto;
	}
	.header, .quote {
		padding: .5em 25%;
		width: 100%;
	}
}
@media (max-width: 1000px) and (min-width: 575px) {
	.mainColumn > * {
		width: 500px;
		margin: 0 auto;
	}
	.header, .quote {
		padding: .5em 10% .5em 25%;
	}
}
@media (max-width: 575px) {
	.mainColumn > * {
		width: 90%;
		margin: auto;
	}
	.header, .quote {
		width: 100%;
		padding: .5em 10%;
		margin: auto;
	}
	h3 > img {
		display: none;
	}
}

body {
	margin: 0;
}
.mainColumn {
	font-family: 'Exo 2', sans-serif;
	font-size: 1.2em;
}
#mainLogo {
	width: 100px;
	margin-left: -50px;
	margin-bottom: -40px;
}
h1 {
	font-size: 1.5em;
	padding: .5em 0;
}
p {
	padding: .5em 0;
	line-height: 1.8em;
}
a {
	color: #F68720;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	color: #9C1D21;
}

/* .whisper {
	float: right;
	font-size: 10px;
	font-style: normal;
	line-height: 1.5em;
	margin-top: 10em;
	color: white;
	opacity: .1;
} */

.sectionHead {
	box-sizing: border-box;
	width: 100%;
	margin: 1em 0 0 0;
}
.header {
	box-sizing: border-box;
	color: white;
	font-weight: 300;
	font-size: 42px;
	margin: 0;
}
.quote {
	box-sizing: border-box;
	width: 100%;
	margin: 0 0 1em 0;
	line-height: 1.8em;
	font-style: italic;
}
.quote-indent {
	margin-left: 50px;
}
cite {
	display: block;
	margin: .5em 5em .5em 0;
	text-align: right;
	font-style: normal;
}
.fog > h3 {
	background: url('img/clouds-256-50.png'), url('img/clouds-256-50.png');
	background-attachment: fixed, scroll;
}
.fog > blockquote {
	background: url('img/clouds-512-50.png');
	background-attachment: fixed, scroll;
}
.Roddenberry > * {
	background-image: url('img/notebook.png');
	background-attachment: scroll;
	color: #404040;
}
#Roddenberry {
	margin-left: -200px;
	position: absolute;
}
.Incredibles {
	background-image: url('img/micro_carbon.png');
}
.Incredibles > blockquote {
	color: white;
}
.Incredibles > h3 {
	color: #fddb22;
}
#Incredibles {
	margin-left: -250px;
	margin-top: 15px;
	position: absolute;
}
.climber {
	background-image: url('img/climber.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.climber > h3 {
	color: #404040;
}
.sunlight > * {
	color: #404040;
}
#Celestia {
	margin-left: -200px;
	margin-top: -97px;
	position: absolute;
}

#groupSelect {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 32px;
	width: 50%;
	margin: 1em 25%;
}
#groupSelect > select {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 32px;
	background-color: #CFECF8;
	border: 3px solid #B2DBED;
	border-radius: 5px;
}
#groupSelect > select:hover {
	background-color: #DBF5FF;
}

.group {
	background-color: #CFECF8;
	border: 2px solid #B2DBED;
	border-radius: 5px;
	display: inline-block;
	line-height: 1.35em;
}

.flourish {
	margin: 21px auto;
	width: 61px;
}